@model IEnumerable<dynamic>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <ol class="breadcrumb ">
            <li><a class="" asp-area="admin" asp-controller="homeadmin" asp-action="index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a class=" " asp-area="admin" asp-controller="Product" asp-action="index">Danh Sach San Pham</a></li>
            <li><a class=" active ">Them Moi San Pham</a></li>
        </ol>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form id="Productform" enctype="multipart/form-data">
                        <div class="md-3">
                            <label for=""> Loại sản phẩm</label>
                            <select name="Category_id" id=" Category_id" class="form-select align-content-xl-between">
                                <option value="0">-------Lựa chọn--------</option>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }

                            </select>
                            </div>
                               <div class="md-3">
@*                            <input type="hidden" class="form-control" id="Id" name="Id" />*@
                            <div class="form-group">
                                <label for="name">Tên danh mục</label>
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="slug">Slug</label>
                                <input type="text" class="form-control" name="Slug" id=" Slug" placeholder="" readonly>
                            </div>
                            <div class="form-group">
                                <label for="author">Tac Gia</label>
                                <input type="text" class="form-control" name="Author" id=" Author" placeholder="">
                            </div>
                            
                            <div class="form-group">
                                <label for="description">Mô tả</label>
                                <textarea name="Description" id="Description" rows="3" class="form-control"></textarea>

                            </div>
                            <div class="form-group">
                                <label for="Price">Gia Tien</label>
                                <input type="number" class="form-control" name="Price" id=" Price" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="Quantity">So Luong</label>
                                <input type="number" class="form-control" name="Quantity" id=" Quantity" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="image">Chọn file</label>
                                <input type="file" name="image" id=" image">
                            </div>
                               </div>


                            <!-- /.box-body -->
                                <button type="submit" class="btn btn-primary">Lưu</button>


                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
    <script>
        $(document).ready(function(){
            $('input[name="Name"]').on('input', function () {
                var name = $(this).val();
                var slug = slugify(name);
                $('input[name = "Slug"]').val(slug);
            });
            $('#Productform').submit(function(e){
                e.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url:'/admin/product/add',
                    type:'POST',
                    data:formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success == true) {
                            Swal.fire({
                                icon: 'success',
                                text: "Vui lòng chờ hệ thống xử lí",
                            }).then((result) => {
                                // Khi Swal.fire đã hoàn thành, reload trang
                                if (result.isConfirmed) {
                                    window.location.href = '/admin/product';
                                }
                            });
                        }
                        else if (result.error == true) {
                            alert('Them san that bai');
                        }
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi trong quá trình gửi yêu cầu');
                    }
                });
            });
        });
        function slugify(text) {
            return text.toLowerCase()
                .replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a')
                .replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e')
                .replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i')
                .replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o')
                .replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u')
                .replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y')
                .replace(/đ/gi, 'd')
                .replace(/\`|\~|\!|\#|\||\$|\%|\^|\&|\*|\(|\)|\+|\=|\,|\.|\/|\?|\>|\<|\'|\"|\:|\;|_/gi, '')
                .replace(/ /gi, " - ")
                .replace(/\-\-/gi, '-')
                .replace(/-+$/, '');
        }
    </script>

}