@model int
<vc:number-cart >
    <div class="col-lg-12" style="right:0px;">
        <div class="header__cart">
            <ul>
                <li><a class="my-cart-icon" asp-area="" asp-controller="Carts" asp-action="index"><i class="fa fa-shopping-bag "></i> <span id="cart">@Model</span></a></li>
            </ul>
        </div>
    </div>
</vc:number-cart>
